# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
.venv/
venv/
.pytest_cache/
.coverage
htmlcov/

# Env
.env
*.env
!.env.example

# Secrets
*secret*.yaml
!secret.example.yaml
*.pem
*.key
*.tfvars
!terraform.tfvars.example

# Terraform
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Kubernetes
kubeconfig
*.kubeconfig

# IDE
.vscode/
.idea/
